# Python cache
__pycache__/
*.py[cod]
*$py.class

# Env and config
.env
.env.*
venv/
.venv/

# Editors
.idea/
.vscode/

# OS files
.DS_Store

# Databases
*.db
*.sqlite3

# Swap files
*.swp
*.swo

# Git
.git
.gitignore
